{
    "presets": [
        "stage-0",
        "react",
        "es2015"
    ],
    "plugins": [
        "transform-proto-to-assign",
        [
            "transform-es2015-classes",
            {
                "loose": true
            }
        ]
    ]
}
